# gradle

.gradle/
build/**
# javadoc (gradle task to update)
!build/docs/
!build/docs/**
# jar (gradle task to update)
!build/libs/
!build/libs/**
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# don't publish generated data except in .jar

src/main/generated

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
